*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* STRISCIA GRIGIA TOP */

.container{
  padding: 0 5%;

}

.row{
  background-color: #F3F4F5;

}
.barra-grigio{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.top1 ul{
  display: flex;
  align-items: center;

}

.top1 ul li{
  padding-right: 20px;
  list-style: none;
}

.top1 ul li a{
    text-decoration: none;
    color:#7a7d82;
}
.top1 ul li a:hover{
    color:black;
}



/* NAVBAR */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

}


.navbar .logo img{
  height: 30px;
  width: 70px;
}

.navbar .menu{
  padding-right: 200px;
}

.navbar .menu ul{
  display: flex;
}

.navbar .menu ul li{
position: relative;

}

.navbar .menu .spazio{
  padding-right: 50px;
  list-style: none;
}

.navbar .menu ul li a {
  text-decoration: none;
  color: #7a7d82;
}

.navbar .menu ul li a:hover{
    color:black;
}

.navbar .menu .spazio li{
  padding: 12px 0;
}
/* PARTE PER IL DROPDOWN MENU */

.hidden{
  display: none;
}
.dropdown{
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #e8e6e1;
}

.dropdown ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdown ul li {
  list-style: none;
  padding: 5px;

}
.active{
  display: block;
}
#jun{
  position: relative;
}
.new{
  color: blue;
  font-size: 10px;
  font-weight: bold;
  position:absolute;
  top:0;
  left: 50px;
}
/* BOTTONE SCARICA */

.scarica a{
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color:white;
  text-decoration: none;
}
